<div id="resources">
  <div class="page-header">
    <h1>Resources</h1>
  </div>
  <p class="lead">Here you'll find some Ember related resources that we think are just awesome.</p>

  <h2>Official Ember.js</h2>
  <dl>
    <dt><a href="http://www.emberjs.com" target="_blank">Emberjs.com</a></dt>
    <dd>Official website for Ember.js</dd>
    <dt><a href="http://www.ember-cli.com" target="_blank">ember-cli.com</a></dt>
    <dd>Official website for Ember-CLI</dd>
  </dl>

  <h2>Tutorials</h2>
  <dl>
    <dt><a href="http://www.emberscreencasts.com" target="_blank">Ember Screencasts</a> <span class="label label-success">$</span></dt>
    <dd>Twice-weekly screencasts for ambitious web developers</dd>
    <dt><a href="http://emberigniter.com/" target="_blank">Ember Igniter</a></dt>
    <dd>Always up-to-date tutorials for Ember</dd>
  </dl>

  <h2>Podcasts</h2>
  <dl>
    <dt><a href="http://www.emberweekend.com" target="_blank">Ember Weekend</a></dt>
    <dd>A weekly podcast by <a href="http://www.twitter.com/code0100fun" target="_blank">Chase McCarthy</a> and <a href="http://www.twitter.com/rondale_sc" target="_blank">Jonathan Jackson</a></dd>
  </dl>

  <h2>Developer Resources</h2>
  <dl>
    <dt><a href="http://www.emberobserver.com" target="_blank">Ember Observer</a></dt>
    <dd>Searchable, rated list of Ember.js addons by <a href="http://www.twitter.com/katiegengler" target="_blank">Katie Gengler</a></dd>
    <dt><a href="http://www.ember-twiddle.com" target="_blank">Ember Twiddle</a></dt>
    <dd>JSBin/JSFiddle/CodePen specifically for Ember.js</dd>
  </dl>

  <h2>Social Resources</h2>
  <dl>
    <dt><a href="http://ember-community-slackin.herokuapp.com/" target="_blank">Global Ember Slack Channel</a></dt>
    <dd>Chatroom for the Ember community.  Excellent resource for questions, and to learn more from other developers.  Learn more about <a href="https://slack.com/" target="_blank">Slack</a></dd>
    <dt><a href="https://www.meetup.com/Ember-Atlanta-Meetup/" target="_blank">Atlanta Ember Meetup Group</a></dt>
    <dd>Our Group at Meetup.com.  If you're an Atlanta Ember Developer, please join us!  Learn more about <a href="https://www.meetup.com/" target="_blank">Meetup</a></dd>
    <dt><a  href="https://tech404.slack.com/messages/ember/" target="_blank">Atlanta Ember Channel</a></dt>
    <dd>Slack Channel for the local Atlanta Ember Community</dd>
    <dt><a href="https://tech404.slack.com/messages/ember-meetup-planning/" target="_blank">Atlanta Ember-Meetup Channel</a></dt>
    <dd>Join the discussion about our Atlanta Ember Meetup (where to meet, what to discuss, and where to eat beforehand)</dd>
  </dl>
</div>
