<div class='tom-yehuda-chat'>


  <div class='row'>
    <div class='visitor col-md-4 col-sm-4 col-xs-4'>
      <h1 class='name'>Tom Dale</h1>
      <img src='/assets/images/tom.jpg'>
    </div>
    <div class='visitor col-md-4 col-sm-4 col-xs-4'>
      <img class='ember-logo' src='/assets/images/ember-logo.png'>
      <div class='details'>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-4'>TIME:</div>
          <div class='col-md-8 col-md-offset-1 col-sm-4 col-xs-4'>6:30 PM,</div>
        </div>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-4'>LOCATION:</div>
          <div class='col-md-8 col-md-offset-1 col-sm-4 col-xs-4'>Huge,</div>
        </div>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-4'>ADDRESS:</div>
          <div class='col-md-8 col-md-offset-1 col-sm-4 col-xs-4'>Pershing Point Plaza, 1375 Peachtree St NE, Atlanta, Georgia 30309</div>
        </div>
      </div>

    </div>
    <div class='visitor col-md-4 col-sm-4 col-xs-4'>
      <h1 class='name'>Yehuda Katz</h1>
      <img src='/assets/images/yehuda.jpg'>
    </div>
  </div>

  {{google-map}}

  <div class='questions jumbotron'>
    <div class="container">
      <div class="row">
        <h1>Got a question for Tom and Yehuda?</h1>
        <p>We're taking submissions for questions from the community and we'll ask the top responses!</p>
      </div>
      <div class="row">
        <div class="iframe-container">
          <iframe width='100%' height='500' style="width: 100%; height: 500; overflow: hidden;" src='http://www.tricider.com/embed/?show=2uniTO1Knvx' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class='sponsors'>
    <h2>Thanks to our sponsors</h2>
    <div class="row">
      <div class="sponsor col-md-4 col-md-offset-2">
        <img src='/assets/images/huge-logo.png'>
      </div>
      <div class="sponsor col-md-4 col-md-offset-2">
        <img src='/assets/images/bnr-logo.png'>
      </div>
    </div>
  </div>

</div>
