<div class='tom-yehuda-chat'>

{{!--
  <div class='row'>
    <div class='visitor col-md-6 col-sm-6 col-xs-6'>
      <h1 class='name'>Tom Dale</h1>
      <img src='/assets/images/tom.jpg'>
    </div>
    <div class='visitor col-md-6 col-sm-6 col-xs-6'>
      <h1 class='name'>Yehuda Katz</h1>
      <img src='/assets/images/yehuda.jpg'>
    </div>
  </div> --}}

  {{google-map}}

</div>

